@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  max-width: 1300px;
  margin: auto;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.footer__wrapper_contacts h2, .additional-services__title, .question__title {
  font: 700 36px/140.4% "Montserrat";
  color: #121214;
  text-align: center;
}

.question__wrapper_ask p {
  font: 400 14px/21px "Montserrat";
  color: #121214;
}

.question {
  padding: 71px 0 85px;
}
.question__title {
  text-align: center;
  margin-bottom: 48px;
}
.question__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.question__wrapper_answers {
  flex-basis: 41.38%;
}
.question__wrapper_ask {
  text-align: center;
  flex-basis: 50%;
  max-width: 378px;
  padding-left: 80px;
}
.question__wrapper_ask img {
  display: inline-block;
  width: 94px;
  padding-bottom: 14px;
}
.question__wrapper_ask p {
  line-height: 17px;
  margin-bottom: 14px;
}
.question__wrapper_ask_vector-ask {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}
.question__wrapper_ask button {
  font: 600 14px/130% "Montserrat";
  color: #FFFFFF;
  background: #037E8C;
  border-radius: 9px;
  padding: 13px 33px 14px;
  border: 1px solid #037E8C;
}

.additional-services {
  padding-bottom: 109px;
}
.additional-services__wrapper {
  display: grid;
  margin-top: 55px;
  grid-template: repeat(auto-fit, 309px)/repeat(auto-fill, 303px);
  justify-content: center;
  gap: 27px 29px;
}
.additional-services__wrapper div {
  background: #f4f4f4;
  border-radius: 9px;
  min-height: 309px;
  padding-bottom: 26px;
}
.additional-services__wrapper div img {
  width: 100%;
  border-radius: 9px 9px 0px 0px;
  margin-bottom: 21px;
}
.additional-services__wrapper div p {
  font: 600 18px/130% "Montserrat";
  color: #037E8C;
  margin-left: 24px;
  max-width: 80%;
}

.footer {
  padding-bottom: 27px;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 73px;
}
.footer__wrapper_contacts {
  border-top: #037E8C solid 3px;
  flex-basis: 48%;
}
.footer__wrapper_contacts h2 {
  text-align: left;
  padding: 15px 0 64px;
}
.footer__wrapper_contacts h3 {
  font: 600 24px/151.19% "Montserrat";
  color: #121214;
  padding-bottom: 16px;
}
.footer__wrapper_contacts i {
  display: inline-block;
  padding: 10px;
  background-color: #121214;
  border-radius: 90%;
  color: #f4f4f4;
  width: 50px;
  font-size: 30px;
  margin-right: 21px;
}
.footer__wrapper_contacts_info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__wrapper_contacts_info_sity {
  flex-basis: 55%;
}
.footer__wrapper_contacts_info_time {
  flex-basis: 40%;
}
.footer__wrapper_contacts_info #sity::before {
  content: url(../images/icon-house.svg);
  display: inline-block;
  vertical-align: middle;
  width: 45px;
  margin-right: 16px;
}
.footer__wrapper_contacts_info #mail::before {
  content: url(../images/icon-mail.svg);
  display: inline-block;
  vertical-align: middle;
  width: 45px;
  margin-right: 16px;
}
.footer__wrapper_contacts_info #number::before {
  content: url(../images/icon-phone.svg);
  display: inline-block;
  vertical-align: middle;
  width: 45px;
  margin-right: 16px;
}
.footer__wrapper_contacts_info #time::before {
  content: url(../images/icon-time.svg);
  float: left;
  display: inline-block;
  vertical-align: middle;
  width: 45px;
  margin-right: 16px;
}
.footer__wrapper_contacts_info p {
  font: 400 18px/124.19% "Montserrat";
  color: #121214;
  width: 100%;
  margin-bottom: 36px;
}
.footer__wrapper_maps {
  width: 48%;
  position: relative;
}
.footer__wrapper_maps iframe {
  width: 112%;
}
.footer #cfmoto {
  text-align: center;
  margin-top: 21px;
}
.footer__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: #037E8C solid 3px;
  border-bottom: #037E8C solid 3px;
}
.footer__menu_logo {
  content: url(../images/icon-logo.png);
  display: inline-block;
  width: 65px;
  margin-left: 113px;
}
.footer__menu_links {
  width: 75%;
}
.footer__menu_links ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer__menu_links ul a {
  text-decoration: none;
  font: 600 14px/104.7% "Montserrat";
  color: #121214;
}/*# sourceMappingURL=style.css.map */