

.container {
    max-width: 1300px;
    margin: auto;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}

%style_h2 {
    font: 700 36px/140.4% 'Montserrat';
    color: #121214;
    text-align: center;
}

%style_p {
    font: 400 14px/21px 'Montserrat';
    color: #121214;
}

